language: java
jdk: openjdk12
script:
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -Pproduction
- mvn test -B

deploy:
  - provider: s3
    access_key_id:
      secure: "hYgWZsOMIz397lbi5/lwx508hB4EHdn6nauqHYqGJb8WSiM7Gk+d/UkwGR6O4VWBNBjzgYr3wjZj8WG/LpP1SxAOfhefadgLdULGhEPXxzpA4Vmkh84cejB4cVXlocy2j7qih3Yg5DMxvUn2NF9yZMYVKafAkCD9Xc4HUUCXb9A="
    secret_access_key:
      secure: "SjJwI2E+as1GLbjhT4OqOCPCSRKSngnZA6EkOyHInURQEOZwOvNJRocriomdAkkGYnVF87Yj6Jj6jik0voT5bPhq0PwKPxOEd8xmIuByUEK24yFo5QncATUSOXT5ETT5yuD2aV6jFz/bF2C65PSDNiV/GikGcwkHs2fHI1Cpwu8="
    bucket: oss.forter.com
    local-dir: /home/travis/.m2/repository/com/forter/storm-data-contracts-parent/
    upload-dir: repository/com/forter/storm-data-contracts-parent
    skip_cleanup: true
    on:
      all_branches: true
      tags: true
  - provider: s3
    access_key_id:
      secure: "hYgWZsOMIz397lbi5/lwx508hB4EHdn6nauqHYqGJb8WSiM7Gk+d/UkwGR6O4VWBNBjzgYr3wjZj8WG/LpP1SxAOfhefadgLdULGhEPXxzpA4Vmkh84cejB4cVXlocy2j7qih3Yg5DMxvUn2NF9yZMYVKafAkCD9Xc4HUUCXb9A="
    secret_access_key:
      secure: "SjJwI2E+as1GLbjhT4OqOCPCSRKSngnZA6EkOyHInURQEOZwOvNJRocriomdAkkGYnVF87Yj6Jj6jik0voT5bPhq0PwKPxOEd8xmIuByUEK24yFo5QncATUSOXT5ETT5yuD2aV6jFz/bF2C65PSDNiV/GikGcwkHs2fHI1Cpwu8="
    bucket: oss.forter.com
    local-dir: /home/travis/.m2/repository/com/forter/storm-data-contracts/
    upload-dir: repository/com/forter/storm-data-contracts
    skip_cleanup: true
    on:
      all_branches: true
      tags: true
  - provider: s3
    access_key_id:
      secure: "hYgWZsOMIz397lbi5/lwx508hB4EHdn6nauqHYqGJb8WSiM7Gk+d/UkwGR6O4VWBNBjzgYr3wjZj8WG/LpP1SxAOfhefadgLdULGhEPXxzpA4Vmkh84cejB4cVXlocy2j7qih3Yg5DMxvUn2NF9yZMYVKafAkCD9Xc4HUUCXb9A="
    secret_access_key:
      secure: "SjJwI2E+as1GLbjhT4OqOCPCSRKSngnZA6EkOyHInURQEOZwOvNJRocriomdAkkGYnVF87Yj6Jj6jik0voT5bPhq0PwKPxOEd8xmIuByUEK24yFo5QncATUSOXT5ETT5yuD2aV6jFz/bF2C65PSDNiV/GikGcwkHs2fHI1Cpwu8="
    bucket: oss.forter.com
    local-dir: /home/travis/.m2/repository/com/forter/storm-data-contracts-testng/
    upload-dir: repository/com/forter/storm-data-contracts-testng
    skip_cleanup: true
    on:
      all_branches: true
      tags: true
